p{
    color: black;
    font-family: 'Arsenal', sans-serif;
    font-size: 1em;
}

a{
    color: black;
    font-family: 'Overpass Mono', monospace;
    font-size: 0.75em;
}

a:hover{
    background-color: yellow;
}

.disabled {
    color: lightgrey;
}

.disabled:hover{
    background-color: white;
}

.highlight{
    background-color: yellow;
}

#heading {
    font-family: 'Overpass Mono', monospace;
    font-size: 2em;
}

.right{
    margin: 4em 4em 4em 4em;
    max-height: 100%;
}

#photosheading{
    font-family: 'Overpass Mono', monospace;
    font-size: 2em;
}

.table{
    width: 100%;
    text-align: left;
    vertical-align: bottom;
    padding: 0.5em;
    font-family:  'Overpass Mono', monospace;
    font-size: 0.6em;
    margin: 1em 1em 1em 1em;
}

th{
    height: 50px;
   
}

th, td{
    border-bottom: 1px solid grey;
}

.this{
    font-weight: bold;
}

.links{
    padding: 0em 0em 2em 0em;
    margin-left: 4em;
}


#photo{
    width: 100%;
    height: 300px;
    display: inline-block;
    padding: 0em 0em 0em 0em;
    font-family: 'Arsenal', sans-serif;
    font-size: 0.5em;
}

img{
   max-width: 100%;
   max-height: 100%;
}

figcaption{
    font-size: 1em;
}

.grid {
   
    margin-left: 50px;
  }
  
  /* clearfix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* ---- grid-item ---- */


  .grid-item {
    max-height: auto;
    max-width: 200px;
    float: left;
  }

  .grid-item img{
      max-width: 200px;
      max-height: auto;
      object-fit: cover;
  
  }



@media screen and (min-width: 700px) {
    
    .right{
     width: 70%;
     margin: 3em 3em 3em 3em;
    }

    #photo{
        width: 100%;
    }

    .table{
        width: 100%;
    }

    .links{
        margin-left: 3em;
    }

/*photogallery*/
.pictures{
    justify-content: space-around;
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   height: auto;
   float:left;
   margin-right: 4em;
   background-color: red;
   
}

.pic{
    width: 45%;
    height: auto;
    
    
    margin: 0.5em 0.5em 0.5em 0.5em;
    float:left;

    background-color:pink;
}

}

@media screen and (min-width: 1000px) {
    #photo{
        width: 70%;
    }

    .table{
        width: 300px;
    }
  
}

/*
@media screen and (min-width: 1300px) {

    .pic{
        width: 25%
    }
    
    .pictures{
        background-color: red;
        display: inline-flex;
        justify-content: space-evenly;
    }
}
*/
